{% block openpp_type_map_geometry_circle_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
                {{ form_label(child) }}
                {{ form_widget(child) }}
        {% endfor %}
        </div>

        {{ block('openpp_base_map_widget') }}

        <script type="text/javascript">
            $(function(){
                var center = null;
                var matches = $('#' + '{{ id }}' + '_center').val().match(/\{"type":"Point","coordinates":\[(\d+\.\d+),(\d+\.\d+)\]\}/);
                if (matches) {
                    center = [parseFloat(matches[1]), parseFloat(matches[2])];
                }
                var map = new OpenppMap('{{ map_attr.id }}');
                map.initialize();
                map.addPointer(center, '{{ id }}' + '_center', '{{ id }}' + '_address');
                $('#' + '{{ id }}' + '_radius').change(function() {
                    map.drawCircle(null, $(this).val());
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block openpp_base_map_widget %}
    <div id="{{ map_attr.id }}-container" class="form-group">
        <div id="{{ map_attr.id }}" style="{{ map_attr.style }}"></div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/openppmap/js/OpenppMap.js') }}"></script>
{% endblock %}
